table {
  width: 100%;
  border-radius: 8px;
  border: 1px solid  #EBEBEB;
  margin: 1rem auto;
  border-collapse: collapse;


  thead {
    tr {
      th {
        color: #6c7480;
        font-family: "Nunito";
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: left;
        padding:1rem 0.5rem 0.5rem 0.5rem;
      }
    }
  }
  tbody {
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:nth-child(odd) {
      background-color: #fff;
    }
    tr {
      td {
        padding: 1rem 0.5rem;
        color: #333;
        p {
          font-family: "Inter";
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          color: #333;
        }
        .yellow {
          color: #fbbc09;
          display: flex;
          align-items: center;
          gap: 0.4rem;
          .dot {
            width: 6px;
            height: 6px;
            background: #fbbc09;
            border-radius: 8px;
            display: flex;
          }
        }
        .red {
          color: #f1511b;
          display: flex;
          align-items: center;
          gap: 0.4rem;
          .dot {
            width: 6px;
            height: 6px;
            background: #f1511b;
            border-radius: 8px;
            display: flex;
          }
        }
        .very-red {
            color: #f41515;
            display: flex;
            align-items: center;
            gap: 0.4rem;
            .dot {
              width: 6px;
              height: 6px;
              background: #f41515;
              border-radius: 8px;
              display: flex;
            }
          }
        .green {
          color: #80cc28;
          display: flex;
          align-items: center;
          gap: 0.4rem;
          .dot {
            width: 6px;
            height: 6px;
            background: #80cc28;
            border-radius: 8px;
            display: flex;
          }
        }
        .pill {
          border-radius: 20px;
          background: rgba(251, 188, 9, 0.16);
          color: #fbbc09;
          padding: 0.2rem;
          text-align: center;
          margin: 0 0.3rem 0 0;
        }
        .assignedto {
          display: flex;
          gap: 0.3rem;
          img {
            width: 24px;
          }
          .assignedtoInfo {
            display: flex;
            flex-direction: column;
            .name {
              font-family: "Inter";
              font-size: 9px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
            .role {
              font-family: "Inter";
              font-size: 8px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
      }
    }
  }
}
